<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ioc.android.biblioapp">
    <!-- Permisos de la aplicacion -->
    <!-- Acceso al estado de red -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Acceso a la red -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".View.Registro"
            android:exported="false">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ioc.android.biblioapp.View.MainActivity" />
        </activity>
        <activity
            android:name=".View.Pantalla_Inicio_Usuario"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ioc.android.biblioapp.View.MainActivity" />
        </activity>
        <activity
            android:name=".View.Pantalla_Inicio_Administrador"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ioc.android.biblioapp.View.MainActivity" />
        </activity>
        <activity
            android:name=".View.Splash_Activity"
            android:exported="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>